body{
    margin:0;
    padding:0;
    width:100%;
    min-height:100%;
    font-family:Lato,arial,sans-serif;
    overflow-x:hidden;
    overflow-y:scroll
}
a{
    color:#111;
    text-decoration:underline;
    font-weight:700
}
a:hover{
    color:#2a8
}
.banner{
    position:fixed;
    background:#000 url(../img/banner.jpg) center center;
    background-size:cover;
    width:45%;
    height:100%;
    float:left;
    z-index:100
}
.content{
    position:relative;
    width:55%;
    min-height:100%;
    float:right;
    overflow-x:hidden;
    overflow:visible
}
.banner .vignette{
    background:url(../img/vignette.png) center center no-repeat;
    background-size:100% 100%;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:.75
}
.banner .info{
    position:absolute;
    width:calc(100% - 128px);
    left:64px;
    bottom:64px
}
.banner .info img{
    width:20%;
    border-radius:50%;
    float:left
}
.banner .info .about{
    width:75%;
    float:right
}
.banner .info h1{
    color:#fff;
    font-weight:700;
    padding:0;
    margin:0;
    width:100%;
    float:left
}
.banner .info p{
    padding:0;
    margin:0;
    font-weight:700;
    color:#fff;
    opacity:.9;
    font-size:1.1em;
    text-align:justify-all;
    width:100%;
    float:left
}
.banner .social{
    position:absolute;
    top:24px;
    left:24px
}
.banner .social a{
    width:64px;
    height:64px;
    float:left;
    background:url(../img/social.png) no-repeat
}
.banner .social .linkedin{
    background-position:-64px 0
}
.banner .social .github{
    background-position:-128px 0
}
.banner .social .email{
    background-position:0 0
}
.banner .social .linkedin:hover{
    background-position:-64px -64px
}
.banner .social .github:hover{
    background-position:-128px -64px
}
.banner .social .email:hover{
    background-position:0 -64px
}
.portfolio{
    position:absolute;
    left:0;
    width:100%;
    min-height:100%;
    float:left;
    overflow-y:visible;
    background:#ddd
}
.portfolio .section{
    width:100%;
    padding:60px;
    padding-top:0;
    box-sizing:border-box;
    background:#fff;
    float:left
}
.portfolio .section:first-child{
    padding-top:60px
}
.portfolio .section h1{
    width:100%;
    margin:0;
    padding:0 0 12px 0;
    float:left;
    color:#2a8
}
.portfolio .section p{
    font-size:1.1em;
    width:100%;
    color:#666;
    margin:0 0 16px 0;
    float:left
}
.portfolio .section .links{
    width:100%;
    float:left
}
.portfolio .section .list .preview{
    background:#2a8;
    position:relative;
    height:180px;
    margin:0 1% 1% 0;
    float:left;
    cursor:pointer;
    overflow:hidden
}
.portfolio .section .list .preview:nth-child(-n+4){
    width:49.5%
}
.portfolio .section .list .preview:nth-child(-2n+4){
    margin-right:0
}
.portfolio .section .list .preview:nth-child(n+5){
    width:32.667%;
    height:120px
}
.portfolio .section .list .preview:nth-child(n+5) h2{
    font-size:1.1em
}
.portfolio .section .list .preview:nth-child(3n+7){
    margin-right:0
}
.portfolio .section .list .preview .bg{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    opacity:.9;
    transition:opacity .25s,transform .25s
}
.portfolio .section .list .preview h2{
    position:absolute;
    width:90%;
    left:5%;
    top:30%;
    transform:translate(0,-50%);
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    opacity:0;
    margin:0;
    padding:0;
    transition:opacity .25s,top .25s
}
.portfolio .section .list .preview:hover .bg{
    opacity:.25;
    transform:scale(1.2,1.2)
}
.portfolio .section .list .preview:hover h2{
    opacity:1;
    top:50%
}
.portfolio .section .article{
    float:left;
    width:49.5%;
    margin-right:1%;
    margin-bottom:1%;
    padding:20px;
    box-sizing:border-box;
    background:#2a8;
    color:#fff;
    text-align:center;
    font-weight:700;
    cursor:pointer;
    transition:background .25s
}
.portfolio .section .article:hover{
    background:#000
}
.portfolio .section .article:nth-child(2n+0){
    margin-right:0
}
.works{
    position:absolute;
    background:#ddd;
    left:100%;
    width:100%;
    min-height:100%;
    float:left
}
.works .back{
    position:absolute;
    width:120px;
    background:rgba(0,0,0,.6);
    color:#fff;
    font-weight:700;
    border-radius:32px;
    text-transform:uppercase;
    text-align:center;
    padding:8px 12px 8px 12px;
    left:24px;
    top:24px;
    transition:background .1s,color .1s
}
.works .back:hover{
    background:#000;
    color:#4fa;
    cursor:pointer
}
.works .work{
    width:100%;
    background:#fff;
    box-sizing:border-box;
    padding-bottom:60px;
    display:none;
    float:left
}
.works .work .postcard{
    width:100%;
    height:300px;
    background-size:cover;
    background-position:center center
}

.works .work>h1{
    padding:60px 60px 0 60px;
    margin:0;
    font-weight:700;
    width:100%;
    box-sizing:border-box;
    float:left
}
.works .work .info{
    padding:10px 60px 0 60px;
    width:100%;
    max-width:720px;
    line-height:1.5em;
    box-sizing:border-box;
    float:left
}
.works .work .links{
    padding:20px 60px 60px 60px;
    width:100%;
    box-sizing:border-box;
    float:left
}
.works .work .links a{
    float:left;
    height:20px;
    padding:8px 16px 4px 12px;
    margin-right:12px;
    color:#000;
    font-weight:700;
    text-decoration:none;
    border:1px solid #000;
    border-radius:20px
}
.works .work .links a img{
    margin-right:12px;
    float:left
}
.works .work .links a p{
    margin-top:-3px;
    float:left
}
.works .work .links a:hover{
    color:#2a8;
    border:1px solid #2a8
}
.works .work .disqus{
    width:100%;
    max-width:720px;
    padding:60px;
    box-sizing:border-box;
    float:left
}
.ending{
    width:100%;
    padding:60px;
    box-sizing:border-box;
    background:#ddd;
    color:#666;
    text-align:center;
    float:left
}
@media(max-width:900px){
    .banner{
        position:relative;
        width:100%;
        height:600px
    }
    .content{
        position:relative;
        width:100%
    }
}
@media(max-width:600px){
    .banner .info img{
        display:none
    }
    .banner .info .about{
        width:100%
    }
}
@media(max-width:1200px) and (min-width:900px){
    .banner .info img{
        display:none
    }
    .banner .info .about{
        width:100%
    }
}
